.header {
  .navbar {
    margin-bottom: 0;
    background: $white;
    border: none;

    >.container-fluid {
      .navbar-brand {
        padding-left: 0;
        margin-right: 15px;
      }
    }
  }

  .nav {
    >li {
      >a {
        padding: 15px 20px;
      }
    }
  }


  .navbar-toggle {
    background: #f2f2f2;
  }
}


.navbar-default {
  .navbar-nav >.active>a,  .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
    background: transparent;
    font-family: $font-family-bold;
  }
}


