
//Colors

$white: #fff;
$iron: #f2f2f2;
$snow: #f9f9f9;
$solitude: #E1E8EE;
$shuttleGrey: #5E6977;
$spindle: #bfc7ce;
$ShuttleGreyDark: #545e6b;
$baliHai: #86939e;
$arsenic: #43484d;
$curiousBlue: #358ED7;
$summerSky: #509fd1;
$mantis: #7dc855;


$menu-color: $baliHai;
$home-title-color: $arsenic;
$home-text-color: $shuttleGrey;
$title-color: $arsenic;
$title--pricing-color: $curiousBlue;
$title--learnmore-color: $white;
$title--pricing-active-color: $white;
$text-color: $baliHai;
$link-color: $curiousBlue;
$btn-color: $curiousBlue;
$btn-pricing-active-color: $mantis;
$footer-menu-color: $white;

$color-background: $white;
$color-background-pricing: $snow;
$color-background-learnmore: $shuttleGrey;
$color-background-footer: $ShuttleGreyDark;

$slick-dots-color: $curiousBlue;



//Font


@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}


$font-family-light: Roboto-Light, sans-serif;
$font-family-regular: Roboto-Regular, sans-serif;
$font-family-medium: Roboto-Medium, sans-serif;
$font-family-bold: Roboto-Bold, sans-serif;


//Font-size

$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-medium: 18px;
$font-size-large: 22px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 47px;


$menu-font-size: $font-size-regular;
$home-title-font-size: $font-size-xxx-large;
$home-text-font-size: $font-size-large;
$featured-box-font-size: $font-size-medium;

$pricing-subtitle: $font-size-regular;

$pricing-block-background: $white;
$pricing-block-hover-background: $iron;
$pricing-block-active-background: $summerSky;
$pricing-block-border: $solitude;

$pricing-block-price-color: $arsenic;
$pricing-list-color: $shuttleGrey;
$pricing-list-color--inactive: $spindle;

$btn-font-size: $font-size-regular;


//Media Queries

$mobile-small:	240;
$mobile-large:	320;
$tablet-small:	480;
$tablet-large:	768;
$screen-small:	1024;
$screen-large:	1280;



//slick

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $curiousBlue !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 30px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.2 !default;


